.homework-submission-container {
  max-width: 700px;
  margin: 20px auto;
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

  .img {
    max-width: 300px;
    height: auto;
    margin-top: 7rem;
  }

  .lesson-section {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;

    .nohw {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: bold;
      text-align: center;
    }

    .lesson-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 10px;

      h3 {
        font-size: 18px;
        margin: 0;
        color: #00796b;
      }

      .arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #00796b;
        border-bottom: 2px solid #00796b;
        transform: rotate(45deg);
        transition: transform 0.3s ease;

        &.up {
          transform: rotate(-135deg);
        }

        &.down {
          transform: rotate(45deg);
        }
      }
    }

    .homework-list {
      border-top: 1px solid #ddd;

      .homework-item {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;

        .homework-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          span {
            font-size: 16px;
            color: #00796b;
          }

          .arrow {
            width: 10px;
            height: 10px;
            border-right: 2px solid #00796b;
            border-bottom: 2px solid #00796b;
            transform: rotate(45deg);
            transition: transform 0.3s ease;

            &.up {
              transform: rotate(-135deg);
            }

            &.down {
              transform: rotate(45deg);
            }
          }
        }

        .homework-details {
          margin-top: 10px;
          padding: 10px;
          background-color: #f1f8e9;
          border-radius: 5px;

          p {
            margin: 0;
            font-size: 14px;
            color: #333;
          }

          .deadline,
          .time-left {
            font-size: 12px;
            margin-top: 5px;
            color: #757575;
          }
          .deadline-passed {
            color: red;
            font-weight: bold;
          }

          .submit-btn {
            margin-top: 10px;
            padding: 8px 12px;
            background-color: #ecf8f7;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;

            // &:hover {
            //     background-color: #005f56;
            // }
          }
        }
      }
    }
  }
}
