.teacher-home.container {
  color: var(--secondary-header-text-color);
  border: 1px solid transparent;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */

  .course-section {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap if there’s not enough space */
    justify-content: space-between;
    margin: 2rem 6rem;
  }

  .course-card {
    background-color: var(--rectangle-box-background-color);
    padding: 2rem;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 10px;
    width: 100%; /* Adjusted width to fit cards side by side */
    position: relative;

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .course-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0rem;
    }

    .course-location,
    .course-time {
      color: var(--secondary-header-text-color);
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }

    .ongoing-lesson {
      margin-top: 1rem;
      color: var(--secondary-header-text-color);
      font-size: 0.9rem;
      padding: 1rem;
      background-color: var(--rounded-edge-square-background-color);
      border-radius: 10px;
    }
  }
  .homework-rounded-edge-rectangle {
    background-color: var(--rectangle-box-background-color);
    padding: 1.3rem 2rem;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 10px;
    margin: 2rem 6rem;
    position: relative;

    .homework-header {
      // position: absolute;
      // top: 10px;
      // left: 20px;
      margin: 0;
      font-size: 1.5rem;
    }

    .homework-items-container {
      overflow-y: auto;
      overflow-x: hidden;
      // padding: 0 0.5rem;
      // &::-webkit-scrollbar {
      //   display: none; /* Hide scrollbar in WebKit browsers */
      // }

      .homework-items {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 0.8rem;
        margin: 1rem 0;

        .homework-item {
          // margin-top: 10px;
          background-color: var(--rounded-edge-square-background-color);
          padding: 0.5rem 1rem;
          border-radius: 10px;
          width: 100%;
          margin: 4px;
          // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          // width: 150px;
          // text-align: center;
          // margin-right: 10px; /* Add space between homework items */
          // margin-left: 10px;
          // margin: 20px 10px;
          // transition: transform 0.3s; /* Smooth transition for the hover effect */

          &:hover {
            box-shadow: 0 0 2px rgba(30, 24, 155, 0.532);
          }
          div:first-child {
            display: flex;
            align-items: center;
            span:first-child {
              font-size: 0.9rem;
              font-weight: 300;
              margin-right: 0.5rem;
            }
            .hw-title {
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
          .des {
            font-size: 0.9rem;
            font-weight: 300;
            margin-top: 0.5rem;
            font-family: 'Poppins', sans-serif;
          }
        }
      }
    }
  }
}
