.custom-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #eaf3f9;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #1f326e;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #d4e7f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-button:active {
    background-color: #c1dbee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  