.custom-button {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 25px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button-light {
  background-color: var(--secondary-button-background-color);
  color: var(--secondary-button-text-color);
}

.button-light:hover {
  background-color: #d4e7f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-light:active {
  background-color: #c1dbee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-dark {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
}

.button-dark:hover {
  background-color: #162557;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-dark:active {
  background-color: #0e183f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: var(--alt-button-background-color);
  color: var(--alt-button-text-color);
  border: 1px solid var(--primary-button-text-bordercolor);
}

.button-white:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-white:active {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-default {
  background-color: var(--alt-button-background-color);
  color: var(--secondary-button-text-color);
}
