body {
  background-color: var(--background-color);

  .homework.teacher {
    background-color: var(--background-color);
    // border: 1px solid #ddd;
    border-top: 1px solid var(--box-shadow-color);
    // margin: 10px;
    // border-radius: 5px;

    .homework-header {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 0.1rem 0.8rem;
      background-color: var(--box-background-color);
    }

    .homework-body {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem 0.8rem;
    }

    button {
      background-color: inherit;
      border: none;
    }
  }
}
