.teacher.lesson {
  border-radius: 1rem;
  box-shadow: 0 0 5px 0 var(--box-shadow-color);
  background-color: var(--rectangle-box-background-color);

  .lesson-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    // background-color: var(--rectangle-box-background-color);
    padding: 0 1rem;
    margin: 1rem 0 0 0;
  }
  .lesson-header h3 {
    font-weight: 500;
  }
  .lesson {
    border: 1px solid #ccc;
    background-color: var(--rectangle-box-background-color);
    /* margin: 10px; */
    /* padding: 0.4rem 1rem; */
    border-radius: 5px;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
  }

  .lesson-header button {
    background-color: inherit;
    border: none;
  }

  .lesson-body {
    #no-homework {
      padding: 1rem;
      border-top: 1px solid var(--box-shadow-color);
    }
  }
}
