.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-background-color);
}

.card {
  background-color: var(--rectangle-box-background-color);
  padding: 2rem;
  border-radius: var(--border-radius, 15px);
  box-shadow: var(--box-shadow-color, 0 4px 8px rgba(0, 0, 0, 0.1));
  width: 400px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--primary-header-topic-color);
  }

  .icon {
    margin-right: 0.5rem; // Adjust this value to control the space between the icon and the text
    color: var(--primary-header-icon-color);
  }
}

.inputContainer {
  display: flex;
  justify-content: center; // Center the text fields
  align-items: center;
  margin-bottom: 1rem;

  .icon {
    margin-right: 0.5rem;
    color: var(--primary-header-icon-color); // Use icon color variable
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    width: auto; // Adjusted button width
  }
}

.links {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  a {
    color: var(--link-as-text-color); // Use link text color variable
    text-decoration-color: #012dc0;
    margin-left: 0.5rem;

    &:hover {
      color: #002481;
    }
  }
}
