.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(
    --body-background-color
  ); /* Adjust to match the background color in the image */
}

.card {
  background-color: var(--rectangle-box-background-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.cardHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.cardHeader h2::before {
  content: '';
  //background: url('path/to/icon.png') no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.actions button {
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
