.guest-register.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-background-color);

  .card {
    background-color: var(--round-edge-rectangle-background-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 400px;
    flex-direction: column;
    align-items: center;
  }

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

    h2 {
      margin: 0;
      font-size: 2rem;
      align-items: center;
      color: var(--primary-header-topic-color);
    }

    .icon {
      margin-right: 1rem;
      font-size: 2.5rem;
      color: var(--primary-header-icon-color);
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column; /* Ensuring a column layout */
    gap: 20px; /* Added gap between text fields */
    width: 100%;
    margin-bottom: 10px;
    align-items: center; /* Increased margin */
  }
  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    button {
      width: flex;
    }
  }
}
