.guest-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest-register-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 470px;
  max-height: 780px;
  padding: 30px;
  margin-top: 25px;

  .register-title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: #071952;
    margin-bottom: 20px;
    justify-content: center;
  }

  .register-title-icon {
    margin-right: 8px;
    font-size: 30px;
    line-height: 1;
    vertical-align: middle;
  }

  .form-group-row {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 48%;
    }
  }

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 9px;

    label {
      font-weight: 600;
      color: #00295b;
      margin-bottom: 2px;
      font-size: 15px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 13px;
      color: #071952;
      outline: none;
      transition: border-color 0.3s ease;
      margin-bottom: 10px;

      &:focus {
        border-color: #071952;
        box-shadow: 0 0 5px rgba(7, 25, 82, 0.3);
      }
    }

    .error-message {
      color: red;
      font-size: 0.7rem;
      position: absolute;
      bottom: -0.4rem;
      right: 0;
    }
  }

  .register-actions {
    margin-top: 6px;

    display: flex;
    justify-content: space-between;
  }
}
