.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-background-color);
}

.card {
  background-color: var(--round-edge-rectangle-background-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.cardHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.cardHeader h2::before {
  content: '';
  //background: url('/path/to/icon.png') no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.formGroup input {
  width: calc(50% - 0.5rem);
}

.formGroup input:first-of-type {
  margin-right: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
}
