.guest-home.container {
  padding: 0 0 0 2.5rem;
  font-family: Arial, sans-serif;

  .primary-header {
    padding: 3rem;
    margin: 4rem 4rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #abdae1;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
  }

  .header-text {
    flex: 1; 
  }

  .primary-header-title {
    color: #071952;
    font-size: 2.5rem;
    margin: 0;
  }

  .primary-header-author {
    color: #000000;
    font-size: 1.9rem;
  }

  .header-image-wrapper {
    display: flex;
    align-items: center;
  }

  .header-image {
    max-width: 390px; 
    height: auto;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem; 
  }

  .class-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 2rem 4rem 0 2rem;
  }

  .class-card {
    background-color: #ffffff;
    padding: 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 30%; 
    position: relative;

    h2 {
      color: #071952;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .class-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0rem;
    }

    .class-location,
    .class-time {
      color: #071952;
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }

    .class-details {
      margin-top: 0.5rem;
      color: #071952;
      font-size: 1rem;
      padding: 10px;
      padding-left: 15px;
      background-color: #ebf4f6;
      border-radius: 15px;
    }
  }
  button {
    padding: 8px 12px;
    font-size: 14px;
    margin-left: 0px;
  }
}
