.App {
  padding: 4rem 0 0 3rem;
}
:root {
  --body-background-color : #ABDAE1;

  --primary-header-background-color: #fff;
  --primary-header-topic-color : #071952;
  --primary-header-icon-color : #071952;
  --primary-header-profilename-color : #000000;
  
  --secondary-header-background-color : #FFFFFF;
  --secondary-header-text-color : #071952;

  --navbar-background-color : #071952;
  --navbar-icon-color : #FFFFFF;
  --navbar-selected-icon-color : #BEE4E9;

  --primary-button-backgrund-color : #071952;
  --primary-button-text-color : #FFFFFF;
  --primary-button-text-bordercolor : #000000;

  --secondary-button-background-color : #EBF4F6;
  --secondary-button-text-color : #071952;

  --alt-button-background-color : #FFFFFF;
  --alt-button-text-color : #071952;

  --link-as-text-color : #071952;

  --drop-arrow : #071952;

  --round-edge-box-background-color : #FFFFFF;

  --default-icons : #071952;

  --rectangle-box-background-color : #FFFFFF;

  --text-fields-alt-text-color : #071952;
  --text-fields-alt-text-opacity : 50%;
  --text-field-background-color : #EBF4F6;

  --rounded-edge-square-background-color : #34B6C8;


}
/* Dark theme overrides */
.dark-theme {
  --primary-background-color: #393535;
  --primary-text-color: #fff;

  /* --background-color: #3d3d3dae;
  --background-color-secondary: #fff;
  --text-color: #e0e0e0;
  --button-text-color: #000000;
  --primary-color: #9f6133;
  --secondary-color: #444;
  --light-grey-color: #242424;
  --dark-grey-color: #e0e0e0;
  --medium-grey-color: #bcbcbc;
  --white-color: #2e2e2e;
  --main-color: #dd9d26;
  --button-color: #ffc250;
  --button-selected-color: #e0a943; */
}

@media (max-width: 768px) {
  .App {
    padding: 3rem 0 0 0;
  }
}
