@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.App {
  padding: 0 0 0 3rem;
  font-family: 'Poppins', sans-serif;
}
:root {
  --body-background-color: #abdae1;

  --primary-header-background-color: #fff;
  --primary-header-topic-color: #071952;
  --primary-header-icon-color: hsl(226, 84%, 17%);
  --primary-header-profilename-color: #000000;

  --secondary-header-background-color: #ffffff;
  --secondary-header-text-color: #071952;

  --navbar-background-color: #071952;
  --navbar-icon-color: #ffffff;
  --navbar-selected-icon-color: #bee4e9;

  --primary-button-background-color: #071952;
  --primary-button-text-color: #ffffff;
  --primary-button-text-bordercolor: #000000;
  --primary-button-hover-background-color: #162557;
  --primary-button-active-background-color: #0e183f;

  --secondary-button-background-color: #ebf4f6;
  --secondary-button-text-color: #071952;
  --secondary-button-hover-background-color: #d4e7f5;
  --secondary-button-active-background-color: #c1dbee;

  --alt-button-background-color: #ffffff;
  --alt-button-text-color: #071952;
  --alt-button-hover-background-color: #f0f0f0;
  --alt-button-active-background-color: #e0e0e0;
  --alt-button-box-shadow-color: #071952;

  --button-hover-box-shadow-color: rgba(0, 0, 0, 0.1);
  --button-active-box-shadow-color: rgba(0, 0, 0, 0.2);

  --link-as-text-color: #012dc0;

  --drop-arrow: #071952;

  --round-edge-rectangle-background-color: #ffffff;

  --default-icons: #071952;

  --rectangle-box-background-color: #ffffff;

  --box-background-color: #ffffff;
  --box-shadow-color: #0719522f;

  --text-fields-alt-text-color: #071952;
  --text-fields-alt-text-opacity: 50%;
  --text-field-background-color: #ebf4f6;

  --rounded-edge-square-background-color: #ebf4f6;
}

.dark-theme {
  --primary-background-color: #393535;
  --primary-text-color: #fff;
}

@media (max-width: 768px) {
  .App {
    padding: 3rem 0 0 0;
  }
}
